{% extends 'base.html' %}
{% block body %}

<div class="container my-3">
    <form action="/update/{{todo.sno}}" method="POST">
        <h3>Update Todo List</h3>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Task</label>
            <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="My Tasks" value="{{todo.title}}">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="My Description">{{todo.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
</div>


{% endblock body %}